

.row.no-gutters.foot
{
    font-size: 75%;
    color: #7586AB;
}
p
{
    text-decoration: none;
    font-size: 90%;
}
.btn-primary
{
 background-color: #4C608F;
}
.btn-primary:hover
{
    background-color: #7586AB;
}
.row.top
{
    padding:10px 0px 20px 0px;
}
.row.big
{
    border: #7586AB solid;
    border-radius: 15px;
    padding: 10px;
    margin: 40px;
    color:#07173D;
}
.row.mt-3
{
    padding:50px 0px 50px 0px;
}
.row.data
{
    margin-top: 20px;
}
h2,h5{
    color: #172C5A;
    padding: 20px 0px 20px 0px;
}
